.DivFatherStacks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

.DivFatherStacks div {
    margin-right: 20px;
    
}

.DivFatherStacks img {
    width: 200px;
    height: 217px;
}

.DivTitleTechnology {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

hr {
    border-color:#aaa;
    box-sizing:border-box;
    width:30%;
}

.DivTitleTechnology h1 {
    margin-bottom: 20px;
}