.DivFatherFooterHomePage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid black;
    background-color: black;
    color: white
}


.DivIconsContactsHeaderHomePage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

.DivIconsContactsHeaderHomePage div {
    cursor: pointer;
    border-radius: 10px;
}

.DivIconsContactsHeaderHomePage div img {
    height: 40px;
    width: 60px;
}