.DivFatherFooterHomePage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 150px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}


.DivIconsContactsHeaderHomePage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

.DivIconsContactsHeaderHomePage div {
    cursor: pointer;
    border-radius: 10px;
}

.DivIconsContactsHeaderHomePage div img {
    height: 40px;
    width: 60px;
}