.StyleHeaderHomePage {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    background-color: rgb(47, 46, 46);
}

.StyleHeaderHomePage ul li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

